@font-face {
    font-family: "Gotham Black";
    src        : url("../fonts/gotham/GothamBlackRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    src        : url("../fonts/gotham/GothaProReg.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Light";
    src        : url("../fonts/gotham/GothaProLig.otf") format("opentype");
}
